.registration{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

 
  width: 100%;
  transition: all 0.3s linear;
  position: relative;

}
.registration::before{
content: '';
position: absolute;
height: calc(100vh - 138px);
width: 1px;
background-color: white;
right: 0;
bottom: 0;
}
.registration:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.DLFlogo img{
    width: 270px;
}
.DLFlogo{
    margin: 330px 0 100px 0;
}
.details h3{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px !important;
    font-family: 'Montserrat', sans-serif;
}
.details h3{
    margin: 20px 0;
}
@media (max-width:980px) {
    .SectionBanner {
        display: flex;
        flex-direction: column;
        /* padding: 60px 30px; */
       
        width: 100%;
        height: 100%;
    }
    .SectionBanner .registration{
        border-bottom: 1px solid white;
       margin-top: 0;
     padding: 0 0 50px 0;
      
    }
    
.DLFlogo {
    margin: 163px 0 100px 0;
}
}
@media (max-width:500px) {
    .details h3 {
     
        font-size: 14px;
    
    }
    .DLFlogo img {
        width: 200px;
    }
}




