.SectionBanner{
  display: flex;

  justify-content: space-around;
  /* display: grid;
  grid-template-columns: repeat(3,33%); */
  height: 100vh;
 background-position: center;


 
}
header{
  border-bottom: 1px solid white;
}
